includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	classesAllowedToBeExtended:
		- InvalidArgumentException
		- RuntimeException
		- Symfony\Component\Console\Command\Command
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
