includes:
	- phpstan-baseline.neon

parameters:
	checkMissingIterableValueType: false

	inferPrivatePropertyTypeFromConstructor: true

	level: max

	paths:
		- src/
		- test/

	tmpDir: .build/phpstan/
